<!-- <iframe width="560" height="315" frameborder="0" allowfullscreen
	src="https://www.youtube.com/embed/<%= @response['id'] %>">
</iframe> -->
<!--<div><img src="<%= @response['snippet']['thumbnails']['medium']['url'] %>" /></div>-->
<p>
	<a href="https://www.youtube.com/watch?v=<%= @response['id'] %>">Your video is UP!</a>
</p>